header {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
  
header.home {
    height: 400px;
    background-image: url("../images/waterfall_header.jpg");
}
  
header.oregon-trip{
    height: 500px;
    background-image: url("../images/oregon_pic10.jpg");
}
  
header.northwest-trip{
    height: 500px;
    background-image: url("../images/northwest_header.jpg"); 
}