.form-container {
    margin: 50px auto;
    max-width: calc(100% - 4.5em);
    width: 45em;
    border-top: 3px solid turquoise;
}
  
header h3 + p {
    font-size: 1.1em;
    margin-top: -0.35em;
    line-height: 1.5em;
}

form {
    margin: 0 0 2.25em 0;
}
  
form > *:first-child {
    margin-top: 0;
}
  
form > * + * {
    margin-top: 20px;
}
  
input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: 5px;
    border: solid 2px #000000;
    display: block;
}
  
textarea {
    border-radius: 5px;
    border: solid 2px #000000;
    display: block;
    width: 100%;
}
  
ul.actions li {
    display: block;
    text-align: center;
    width: 100%;
}
  
ul.actions > *:first-child {
    margin-top: 0;
}
  
ul.actions > * + * {
    margin-top: 20px;
}